.home-page {
  position: relative;
  min-height: 100vh;
  background: url("../../assets/images/teamwordmain.jpeg") no-repeat center
    center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  &::before {
    content: "";
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background-color: rgba(
      255,
      255,
      255,
      0.5
    ); /* lớp phủ màu trắng mờ, bạn thay đổi màu/độ mờ */
    backdrop-filter: blur(0.5px); /* tạo hiệu ứng mờ sương */
    -webkit-backdrop-filter: blur(0.5px); /* hỗ trợ cho Safari */
    z-index: 0;
  }

  .home-content {
    position: relative;
    z-index: 1;
    width: 100%;

    border-radius: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }

    .left {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;

      .bee-image {
        width: 200px;
        height: auto;

        @media (max-width: 768px) {
          width: 150px;
        }
      }
    }

    .right {
      flex: 2;
      padding: 40px;

      @media (max-width: 768px) {
        padding: 20px;
      }

      .title {
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 20px;
        color: transparent;
        background: linear-gradient(
          90deg,
          #f11313b1,
          /* đỏ */ #ff8c00,
          /* cam đậm */ #008000,
          /* xanh lá */ #2467be,
          /* xanh dương */ #4b0082,
          /* chàm */ #8b00ff /* tím */
        );
        -webkit-background-clip: text;
        background-clip: text;
      }

      .subtitle {
        font-size: 16px;
        color: #555050;
        margin-bottom: 32px;
        line-height: 1.6;
      }

      .start-btn {
        background: linear-gradient(
          320deg,
          #4574b2,
          /* xanh dương */ #9a67c3 /* tím */
        );
        border: none;
        font-weight: bold;
        border-radius: 8px;
        padding: 0 24px;
        height: 48px;

        &:hover {
          background-color: #f57f17;
        }
      }
    }
  }
}
